---
const personalImageAlt = "Renato Arredondo Vela";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import GitHubIcon from "./icons/GitHub.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import { Image } from "astro:assets";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <Image
      width="64"
      height="64"
      class="rounded-full shadow-lg size-16 object-cover"
      src="/renato.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/renato-arredondo-vela-64a7631a1/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Más sobre mi</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Renato
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +2 años de experiencia.
    <strong>Ingeniero de Software</strong> de Lima, Perú. Especializado en el desarrollo
    de aplicaciones web y móviles.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:renato.avela.17@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill
      href="https://www.linkedin.com/in/renato-arredondo-vela-64a7631a1/"
    >
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill
      href="https://github.com/renato-av"
     >
      <GitHubIcon class="size-4" />
      Github
    </SocialPill>
  </nav>
</div>
